.lnk {
  cursor: pointer;
  color: rgb(198, 198, 198) !important;
  text-decoration: none;

}

.lnk:hover {
  color: rgb(167, 167, 167) !important;
}

.orange {
  color: #ffa64f !important;
}

.greybg {
  background-color: rgb(62, 62, 62) !important;
}
